@import 'utilities.css';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
    --font-sen: "Sen",sans-serif;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-ms: 90%;
    --transition: all 400ms ease;
}

body{
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color: var(--dark);
}
*{
    padding: 0;
    margin:0;
    margin-top: -1px;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    font-family: var(--font-sen);
    list-style: none;
    outline: 0;
    padding: 0;
    scrollbar-width: thin;
    text-decoration: none;
}
header{
    background: var(--dark);
    position: initial;
    top:0;

}
/* rotating text*/
.text-container {
  display: inline-flex;
  flex-direction: column;
  height: 4.5rem;
  overflow: hidden;
}

.text-container span {
  height: 43.3rem;
  color: lightcoral;
  animation: moveUp 8s linear infinite;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }



  55% {
    transform: translateY(-6.9rem);
  }



  75% {
    transform: translateY(-9.2rem);
  }

  95% {
    transform: translateY(-9.2rem);
  }

  100% {
    transform: translateY(0);
  }
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1152px;
    }
  }





header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right:2rem;
    text-transform:uppercase;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
header nav .left a:hover{
    color:var(--primary);
}
header nav {
position: sticky;
top:0;
    padding:2rem 0;
    padding-left: 189px;
}
header nav .branding{
    margin-right:3rem;
}
.hero{
    padding:3rem 0;
    margin-left: 30rem;
}
.hero .left img{
    width:400px;
}
.hero .right{
    color:var(--pure);
}
.hero .right h6{
    font-size:1.6rem;
    color:var(--primary);
    margin-bottom:0.5rem;
}
.hero .right h1{
    font-size:4rem;
    font-weight:100;
    line-height:1.2;
    margin-bottom:2rem;
}
.hero .right h1 span{
    color:var(--primary);
}
.hero .right p{
    line-height:1.9;
    margin-bottom:2rem;
}

.hero .right {
    margin-bottom:5rem;

}
.right h2{
  color:var(--primary);

}
section{
    padding:0rem 0;
    background: var(--dark)
}
section.about .about-me-img{
    height:450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size:1.6rem;
    font-weight:400;
    color:var(--pure)
}
section.about h1 span{
    color:var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom:1rem;
    font-weight: 400;
    color:blueviolet;
}

section.about p{
  font-family: 'Source Code Pro', monospace;
    color:var(--ternary);
    line-height: 1.8;
    margin-bottom:2rem;
    margin-top: 2rem;
}
/*typewriter*/
section.about p{
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  color: rgba(255,255,255,.70);
}

section.about p {
  animation: animated-text 4s steps(40,end) 1s 1 normal both,
             animated-cursor 600ms steps(40,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
section.about .social{
    display:flex;
}
section.about .social a{
    background:var(--dark);
    display:flex;
    align-items:center;
    justify-content:center;
    width:35px;
    height:35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right:0.6rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
section.about .social a:hover{
    background:var(--primary);
}
section.about .social a img{
    width:100%;
    height:100%;
    padding:0.5rem;
}

.section-heading{
   color:var(--secondary);
   text-align: center;
   margin-bottom:3rem;
   line-height: 1;
   margin-top: 67px;
}
.section-heading span{
    color:var(--primary);
    font-size: 19px;
}
.section-heading + p{
   color:var(--ternary);
   font-family:'Lato', sans-serif;
   margin-bottom:8rem;
    text-align: center;
}
section.services{
    background:var(--dark);
}
section.services .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:2rem;
    grid-row-gap:6rem;
}
section.services .card-wrapper .card{
    background:var(--pure);
    padding: 3rem 2rem;
    position:relative;
    padding-top:5rem;
    text-align: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
section.services .card-wrapper .card img{
    position: absolute;
    top:-3.5rem;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom:0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    color:var(--ternary);
    line-height:1.6;
}

section.services .card-wrapper .card:hover{
    background: var(--dark);
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
    color:var(--pure);
}
section.works{
  padding:0 15px;
  margin:0 auto;

}
.tab {
  overflow: hidden;

  background-color: var(--dark);
  margin-left: 12rem;
  margin-right: 12rem;
  position: relative;
  text-align: center;

}

.tab button {
  background-color: inherit;
  float: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
 position: relative;
 text-align: center;
 font:var(--font-sen);
 color:var(--primary);
}

.tab button:hover {
  background-color: var(--primary);
  color:black;
}


.tab button.active {
  background-color: var(--primary);
  color:black;
}


.tabcontent {
  display: none;
  padding: 35px 12px;

  border-top: none;
  margin-left: 12rem;
  margin-right: 12rem;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.tabcontent {
  animation: fadeEffect 1s;
}
.tabcontent p{
  color: var(--pure);
  text-align: center;
  font-size: 26px;
}


@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.topright {
  float: top;
  cursor: pointer;
  font-size: 28px;
  position: absolute;
  left: 1305px;
  top: 1543px;
  color:white;
}
.topright:hover {
  color: red;
}


section.contact .card-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight:400;
    margin-bottom:1rem;
    color:var(--pure);
}
section.contact .card-wrapper .card h6{
    font-size:1rem;
    color:var(--ternary);
    font-weight:400;
    margin-bottom:4rem;
}

section.contact .input-wrap{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    margin-bottom:2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom:2rem;
}
section.contact input{
    padding:0.5rem;
    border:1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea{
    padding:0.5rem;
    border:1px solid var(--light);
    font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline:none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top:2rem;
}

footer{
    background:var(--dark);
    text-align: center;
    padding:5rem 0;
}
footer .footer-logo{
    margin-bottom:3rem;
    width:150px;
}
footer .footer-socials a{
    margin-right:1rem;
}
footer .footer-socials{
    margin-bottom:3rem;
    margin-right:-1rem;
}
footer .copyright{
    color:var(--ternary);
}


.site-main-wrapper{
    position:relative;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 94px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 156px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  box-shadow: 2px 2px 6px rgba(37, 35, 36);
  transition-duration: .25s;
}
.menu__item {
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
  display: block;
  padding: 12px 24px;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  margin-top: 27px;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
.mobile-nav{
   position: fixed;
   top:0;
   left:0;
   z-index:1001;
   background:var(--light);
   width:100%;
   height:100%;
   padding:2rem;
   padding-top:5rem;
   transform: translateX(-100%);
   -webkit-transform: translateX(-100%);
   -moz-transform: translateX(-100%);
   -ms-transform: translateX(-100%);
   -o-transform: translateX(-100%);
   transition:all .5s ease-in-out;
   -webkit-transition:all .5s ease-in-out;
   -moz-transition:all .5s ease-in-out;
   -ms-transition:all .5s ease-in-out;
   -o-transition:all .5s ease-in-out;
}
.open{
    transform:translateX(0);
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
}
.times{
   position:fixed;
   top:30px;
   right:30px;
   border: none;
   background:none;
   outline:none;
   cursor: pointer;
}
.times img{
    width:30px;
}

.mobile-nav ul{
    list-style-type: none;
}
.mobile-nav ul li a{
    color:var(--secondary);
    text-decoration:none;
    font-size: 2rem;
}

@media (max-width:1024px){
    header #main-nav{
        display:none;
    }
    .hamberger{
        display: block;
    }
    .hero .left img{
        width:260px;
    }
    .hero .right h1{
        font-size: 3rem;
    }
    .hero{
        padding-top:10rem;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 89%, 0 100%);
    }
    section.about .about-me-img{
        height: 360px;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.blog .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    section.blog{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
    }
}

@media (max-width:576px){
    .hero{
        flex-direction: column;
    }
    header{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
    }
    .hero .right{
        position: absolute;
        top:260px;
        padding:0 1rem;
        background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
    }
    .hero .left{
        margin-top:-5rem;
        margin-right: -9rem;
        padding-bottom:4rem;
    }
    .about-inner-wrap{
        flex-direction: column;
    }
    .about .right{
        text-align: center;
        margin-top:2rem;
    }
    .about .right .social{
        justify-content: center;
    }
    section{
        padding: 4rem 0;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
        margin-top:6rem;
    }
    .section-heading + p{
        margin-bottom: 3rem;
    }
    section.work .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .card-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .input-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
}
